.multi-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.multi-list > li { float: left; }

.two-cols > li { width: 50%; }
.three-cols > li { width: 33.333%; }
.four-cols > li { width: 25%; }
.five-cols > li { width: 20%; }
.all-cols > li { width: 100%; }

.multi-list > .all-cols { width: 100%; }

form .multi-list {
  margin: 0 -6px -12px;

  > li {
    padding: 0 6px;
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) {

  form .multi-list {
    margin: 0;

    > li {
      width: 100%;
      padding: 0;
    }
  }
}