<template name="showItem">
  <div class="media">
    <img src="{{showItemPicture}}" class="pull-left media-object">

    {{#unless showPage}}
      {{#if hasShow}}
        <button type="button" class="btn btn-ultra btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
      {{else}}
        <button type="button" class="btn btn-ultra btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
      {{/if}}
    {{/unless}}

    <div class="media-body">
      <h1 class="media-heading kilo" title="{{name}}">{{#unless details}} <a href="/shows/{{_id}}">{{name}}</a> {{else}} {{name}} {{/unless}}</h1>
      {{#if home}}
        <button type="button" class="episode-previous btn btn-default btn-kilo episode-pager"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <ul class="stat-group">
          <li class="stat">
            <div class="stat__value">{{atSeason}}</div>
            <select data-change="atSeason">
              {{#each seasonsArray}}
                <option value="{{index}}" {{#if current}} selected {{/if}}>{{index}}</option>
              {{/each}}
            </select>
            <div class="stat__title">Staffel</div>
          </li>
          <li class="stat">
            <div class="stat__value">{{atEpisode}}</div>
            <select data-change="atEpisode">
              {{#each episodesArray}}
                <option value="{{index}}" {{#if current}} selected {{/if}}>{{index}}</option>
              {{/each}}
            </select>
            <div class="stat__title">Episode</div>
          </li>
        </ul>
        <button type="button" class="episode-next btn btn-default btn-kilo episode-pager"><span class="glyphicon glyphicon-chevron-right"></span></button>
      {{else}}
        <ul class="stat-group">
          <li class="stat">
            <div class="stat__value">{{seasons}}</div>
            <div class="stat__title">Staffeln</div>
          </li>
          <li class="stat">
            <div class="stat__value">{{episodes}}</div>
            <div class="stat__title">Episoden</div>
          </li>
        </ul>
      {{/if}}
    </div>
  </div>
</template>